<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../../css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css" />

    <!-- Date & Time Picker CSS -->
    <link rel="stylesheet" href="../../css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="../../css/timepicker.css" type="text/css" />
    <link rel="stylesheet" href="../../css/daterangepicker.css" type="text/css" />

    <link rel="stylesheet" href="../../css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>Evaluation</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Content
    ============================================= -->
    <section id="content">
    <div class="section">
        <div class="content-wrap nopadding">
            <div class="section nobg full-screen nopadding nomargin">
                <div class="container vertical-middle divcenter clearfix">

                    <div class="col-lg-12 nobottommargin">


                        <form id="register-form" name="register-form" class="nobottommargin" action="/register" method="post">

                            <div class="col_half">
                                <label for="register-form-mail">Mail:</label>
                                <input type="email" id="register-form-mail" name="user[username]" value="" class="form-control" />
                            </div>

                            <div class="col_half col_last">
                                <label for="register-form-firstname">First Name:</label>
                                <input type="text" id="register-form-firstname" name="user[firstname]" value="" class="form-control" />
                            </div>
                            <div class="col_half col_half">
                                <label for="register-form-lastname">Last Name:</label>
                                <input type="text" id="register-form-lastname" name="user[lastname]" value="" class="form-control" />
                            </div>
                            <div class="col_half col_last">
                                <label for="">Office</label>
                                <select name="user[office]" class="select-1 form-control">
                                    <option>Vake Shop           </option>
                                    <option>Central Shop        </option>
                                    <option>Gldani Shop         </option>
                                    <option>Marjanishvili Shop  </option>
                                    <option>Rustaveli Shop      </option>
                                    <option>Avlabari Shop       </option>
                                    <option>Pekini Shop         </option>
                                    <option>Kostava Shop        </option>
                                    <option>Ortachala Shop      </option>
                                    <option>Varketili Shop      </option>
                                </select>
                            </div>

                            <div class="clear"></div>

                            <div class="col_half">
                                <label>Birthday:</label>
                                <input type="date" name="user[bday]" class="sm-form-control daterange3" value="10/24/1984" />

                            </div>

                            <div class="col_half col_last">
                                <label for="register-form-phone">Phone:</label>
                                <input type="text" id="register-form-phone" name="user[tel]" value="" class="form-control" />
                            </div>
                            <div class="col_half">
                                <label for="">Position</label>
                                <select name="user[position]" class="select-1 form-control">
                                    <option>Consultant</option>
                                    <option>Operator</option>
                                    <option>Senior Consultant</option>
                                    <option>Supervisor</option>
                                </select>
                            </div>

                            <div class="col_half col_last">
                                <label for="">Permission:</label>
                                <select name="user[permission]" class="select-1 form-control">
                                    <option>User</option>
                                    <option>Admin</option>
                                </select>
                            </div>

                            <div class="clear"></div>

                            <div class="col_half">
                                <label for="register-form-password">Choose Password:</label>
                                <input type="password" id="register-form-password" name="password" value="" class="form-control" />
                            </div>

                            <div class="col_half col_last">
                                <label for="register-form-repassword">Re-enter Password:</label>
                                <input type="password" id="register-form-repassword" name="repassword" value="" class="form-control" />
                            </div>


                            <div class="clear"></div>

                            <div class="col_full nobottommargin">
                                <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
                            </div>

                        </form>
                    </div>
                    </div>
                </div>
            </div>
    </div>
    </section><!-- #content end -->

    <% include ../partials/footer.ejs %>

<!--</div>&lt;!&ndash; #wrapper end &ndash;&gt;-->

<!--&lt;!&ndash; Go To Top-->
<!--============================================= &ndash;&gt;-->
<!--<div id="gotoTop" class="icon-angle-up"></div>-->

<!--&lt;!&ndash; External JavaScripts-->
<!--============================================= &ndash;&gt;-->
<!--<script type="text/javascript" src="../../js/jquery.js"></script>-->
<!--<script type="text/javascript" src="../../js/plugins.js"></script>-->
<!--&lt;!&ndash; Date & Time Picker JS &ndash;&gt;-->
<!--<script type="text/javascript" src="../../js/moment.js"></script>-->
<!--<script type="text/javascript" src="../../js/datepicker.js"></script>-->
<!--<script type="text/javascript" src="../../js/timepicker.js"></script>-->

<!--&lt;!&ndash; Include Date Range Picker &ndash;&gt;-->
<!--<script type="text/javascript" src="../../js/daterangepicker.js"></script>-->


<!--&lt;!&ndash; Footer Scripts-->
<!--============================================= &ndash;&gt;-->
<!--<script type="text/javascript" src="../../js/functions.js"></script>-->

<!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
  <!--&lt;!&ndash;$(function() {&ndash;&gt;-->
    <!--&lt;!&ndash;$('.travel-date-group .default').datepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;autoclose: true,&ndash;&gt;-->
      <!--&lt;!&ndash;startDate: "today",&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.travel-date-group .today').datepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;autoclose: true,&ndash;&gt;-->
      <!--&lt;!&ndash;startDate: "today",&ndash;&gt;-->
      <!--&lt;!&ndash;todayHighlight: true&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.travel-date-group .past-enabled').datepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;autoclose: true,&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->
    <!--&lt;!&ndash;$('.travel-date-group .format').datepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;autoclose: true,&ndash;&gt;-->
      <!--&lt;!&ndash;format: "dd-mm-yyyy",&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.travel-date-group .autoclose').datepicker();&ndash;&gt;-->

    <!--&lt;!&ndash;$('.travel-date-group .disabled-week').datepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;autoclose: true,&ndash;&gt;-->
      <!--&lt;!&ndash;daysOfWeekDisabled: "0"&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.travel-date-group .highlighted-week').datepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;autoclose: true,&ndash;&gt;-->
      <!--&lt;!&ndash;daysOfWeekHighlighted: "0"&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.travel-date-group .mnth').datepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;autoclose: true,&ndash;&gt;-->
      <!--&lt;!&ndash;minViewMode: 1,&ndash;&gt;-->
      <!--&lt;!&ndash;format: "mm/yy"&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.travel-date-group .multidate').datepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;multidate: true,&ndash;&gt;-->
      <!--&lt;!&ndash;multidateSeparator: " , "&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.travel-date-group .input-daterange').datepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;autoclose: true&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.travel-date-group .inline-calendar').datepicker();&ndash;&gt;-->

    <!--&lt;!&ndash;$('.datetimepicker').datetimepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;showClose: true&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.datetimepicker1').datetimepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;format: 'LT',&ndash;&gt;-->
      <!--&lt;!&ndash;showClose: true&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$('.datetimepicker2').datetimepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;inline: true,&ndash;&gt;-->
      <!--&lt;!&ndash;sideBySide: true&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

  <!--&lt;!&ndash;});&ndash;&gt;-->

  <!--&lt;!&ndash;$(function() {&ndash;&gt;-->
    <!--&lt;!&ndash;// .daterange1&ndash;&gt;-->
    <!--&lt;!&ndash;$(".daterange1").daterangepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;"buttonClasses": "button button-rounded button-mini nomargin",&ndash;&gt;-->
      <!--&lt;!&ndash;"applyClass": "button-color",&ndash;&gt;-->
      <!--&lt;!&ndash;"cancelClass": "button-light"&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;// .daterange2&ndash;&gt;-->
    <!--&lt;!&ndash;$(".daterange2").daterangepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;"opens": "center",&ndash;&gt;-->
      <!--&lt;!&ndash;timePicker: true,&ndash;&gt;-->
      <!--&lt;!&ndash;timePickerIncrement: 30,&ndash;&gt;-->
      <!--&lt;!&ndash;locale: {&ndash;&gt;-->
        <!--&lt;!&ndash;format: 'MM/DD/YYYY h:mm A'&ndash;&gt;-->
      <!--&lt;!&ndash;},&ndash;&gt;-->
      <!--&lt;!&ndash;"buttonClasses": "button button-rounded button-mini nomargin",&ndash;&gt;-->
      <!--&lt;!&ndash;"applyClass": "button-color",&ndash;&gt;-->
      <!--&lt;!&ndash;"cancelClass": "button-light"&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;// .daterange3&ndash;&gt;-->
    <!--&lt;!&ndash;$(".daterange3").daterangepicker({&ndash;&gt;-->
        <!--&lt;!&ndash;singleDatePicker: true,&ndash;&gt;-->
        <!--&lt;!&ndash;showDropdowns: true&ndash;&gt;-->
      <!--&lt;!&ndash;},&ndash;&gt;-->
      <!--&lt;!&ndash;function(start, end, label) {&ndash;&gt;-->
        <!--&lt;!&ndash;var years = moment().diff(start, 'years');&ndash;&gt;-->
        <!--&lt;!&ndash;alert("You are " + years + " years old.");&ndash;&gt;-->
      <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;// reportrange&ndash;&gt;-->
    <!--&lt;!&ndash;function cb(start, end) {&ndash;&gt;-->
      <!--&lt;!&ndash;$(".reportrange span").html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));&ndash;&gt;-->
    <!--&lt;!&ndash;}&ndash;&gt;-->
    <!--&lt;!&ndash;cb(moment().subtract(29, 'days'), moment());&ndash;&gt;-->

    <!--&lt;!&ndash;$(".reportrange").daterangepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;"buttonClasses": "button button-rounded button-mini nomargin",&ndash;&gt;-->
      <!--&lt;!&ndash;"applyClass": "button-color",&ndash;&gt;-->
      <!--&lt;!&ndash;"cancelClass": "button-light",&ndash;&gt;-->
      <!--&lt;!&ndash;ranges: {&ndash;&gt;-->
        <!--&lt;!&ndash;'Today': [moment(), moment()],&ndash;&gt;-->
        <!--&lt;!&ndash;'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],&ndash;&gt;-->
        <!--&lt;!&ndash;'Last 7 Days': [moment().subtract(6, 'days'), moment()],&ndash;&gt;-->
        <!--&lt;!&ndash;'Last 30 Days': [moment().subtract(29, 'days'), moment()],&ndash;&gt;-->
        <!--&lt;!&ndash;'This Month': [moment().startOf('month'), moment().endOf('month')],&ndash;&gt;-->
        <!--&lt;!&ndash;'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]&ndash;&gt;-->
      <!--&lt;!&ndash;}&ndash;&gt;-->
    <!--&lt;!&ndash;}, cb);&ndash;&gt;-->

    <!--&lt;!&ndash;// .daterange4&ndash;&gt;-->
    <!--&lt;!&ndash;$(".daterange4").daterangepicker({&ndash;&gt;-->
      <!--&lt;!&ndash;autoUpdateInput: false,&ndash;&gt;-->
      <!--&lt;!&ndash;locale: {&ndash;&gt;-->
        <!--&lt;!&ndash;cancelLabel: 'Clear'&ndash;&gt;-->
      <!--&lt;!&ndash;},&ndash;&gt;-->
      <!--&lt;!&ndash;"buttonClasses": "button button-rounded button-mini nomargin",&ndash;&gt;-->
      <!--&lt;!&ndash;"applyClass": "button-color",&ndash;&gt;-->
      <!--&lt;!&ndash;"cancelClass": "button-light"&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$(".daterange4").on('apply.daterangepicker', function(ev, picker) {&ndash;&gt;-->
      <!--&lt;!&ndash;$(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;$(".daterange4").on('cancel.daterangepicker', function(ev, picker) {&ndash;&gt;-->
      <!--&lt;!&ndash;$(this).val('');&ndash;&gt;-->
    <!--&lt;!&ndash;});&ndash;&gt;-->

  <!--&lt;!&ndash;});&ndash;&gt;-->

<!--&lt;!&ndash;</script>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->