<footer id="footer" class="dark">
    <!-- Copyrights
   ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2014 All Rights Reserved by Sula Inc.<br>
                <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

    </div><!-- #copyrights end -->


</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/plugins.js"></script>
<script type="text/javascript" src="../../js/bs-datatable.js"></script>
<!-- Date & Time Picker JS -->
<script type="text/javascript" src="../../js/moment.js"></script>
<script type="text/javascript" src="../../js/datepicker.js"></script>
<script type="text/javascript" src="../../js/timepicker.js"></script>
<script type="text/javascript" src="../../js/bs-select.js"></script>


<!-- Include Date Range Picker -->
<!--<script type="text/javascript" src="../../js/daterangepicker.js"></script>-->
<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="../../js/functions.js"></script>
<script type="text/javascript" src="../../js/myJs.js"></script>
<script type="text/javascript" src="../../js/photo_upload.js"></script>
<script type="text/javascript" src="../../js/bs-filestyle.js"></script>

</body>
</html>