<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="../../css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../../css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="../../css/myStyle/myStyle.css" type="text/css">
    <!-- Bootstrap Data Table Plugin -->
    <link rel="stylesheet" href="../../css/bs-datatable.css" type="text/css" />
    <link rel="stylesheet" href="../../css/bs-filestyle.css" type="text/css" />
    <link rel="stylesheet" href="../../css/bs-select.css" type="text/css" />
    <!-- Date & Time Picker CSS -->
    <link rel="stylesheet" href="../../css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="../../css/timepicker.css" type="text/css" />
    <link rel="stylesheet" href="../../css/daterangepicker.css" type="text/css" />

    <script src="../../plugins/ckeditor/ckeditor.js"></script>

    <link rel="stylesheet" href="../../css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Document Title
    ============================================= -->
    <title>G-Shops</title>
</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->

    <header id="header" class="sticky-header">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                <% if(currentUser != undefined) { %>
                <div id="top-account" class="dropdown">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="../../uploads/userPictures/<%= currentUser.pic %>" class="user-nav-pic" ><%= currentUser.firstname + " " + currentUser.lastname %></a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <li <% if(page_name === 'profile'){ %> class="profile-current" <% } %>><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout <i class="icon-signout"></i></a></li>
                    </ul>
                </div>
                <% } %>
                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu" class="style-3">

                    <ul>
                        <li <% if(page_name === 'home'){ %> class="current" <% } %>><a href="/home"><div>ინსტრუქციები</div></a></li>
                        <li <% if(page_name === 'home'){ %> class="current" <% } %>><a href="/request"><div>დასვი კითხვა</div></a></li>
                        <li <% if(page_name === 'offices'){ %> class="current" <% } %>><a href="/offices"><div>ოფისები</div></a></li>
                        <!--<li <% if(page_name === 'quiz'){ %> class="current" <% } %>><a href="/quiz"><div>ტესტი</div></a></li>-->
                        <!--<li <% if(page_name === 'target'){ %> class="current" <% } %>><a href="/target"><div>გეგმა</div></a></li>-->
                        <!--<li <% if(page_name === 'stock'){ %> class="current" <% } %>><a href="/stock"><div>ნაშთი</div></a></li>-->
                        <!--<li <% if(page_name === 'evaluation'){ %> class="current" <% } %>><a href="/evolution"><div>შეფასება</div></a></li>-->
                    </ul>
                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger alert-dismissable fade in"  role="alert">
        <span class="close">&times;</span>
        <storng class="text-center"><%= error %></storng>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success alert-dismissable fade in" role="alert">
        <span class="close">&times;</span>
        <strong class="text-center"><%= success %></strong>
    </div>
<% } %>