<ul>
    <li class="current"><a href="/home"><div>მთავარი</div></a></li>
    <% if(currentUser != undefined && currentUser.permission === 'Admin'){ %>
    <li><a href="/register"><div>რეგისტრაცია</div></a></li>
    <li><a href="/admin-panel"><div>ადმინ</div></a></li>
    <% } %>
    <li><a href="/evolution"><div>შეფასება</div></a></li>
    <% if(currentUser != undefined) { %>
    <li><a href="#"><div><em><%= currentUser.fullname %></em></div></a>
        <ul>
            <li><a href="/profile"><div>პროფილი</div></a></li>
            <li><a href="/logout"><div>გასვლა</div></a></li>
        </ul>
    </li>
    <% } %>
</ul>