<div class="googleRegContainer">
    <img class="google-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/768px-Apple_logo_black.svg.png">
</div>
<div class="textboxContainer">
    <h4>Mail:</h4><input type="text">
    <h4>Password:</h4><input type="text">
    <h2 class="textCenter">Store Credentials</h2>
    <h4>Apple ID:</h4><input type="text">
    <h4>Password:</h4><input type="text">
    <hr>
    <h2 class="textCenter">Security Questions</h2>
    <select class="form-control">
        <option>What is the first name of your best friend in high school?</option>
        <option>What was the name of your first pet?</option>
        <option>What was the first thing you learned to cook?</option>
        <option>What was the first film you saw in the theater?</option>
        <option>Where did you go the first time you flew on a plane?</option>
        <option>What was the last name of your favorite elementary school teacher?</option>
        <input type="text">
    </select>
    <select class="form-control">
        <option>What is your dream job?</option>
        <option>What is your favorite children's book?</option>
        <option>What was the model of your first car?</option>
        <option>What was your childhood nickname?</option>
        <option>Who was your favorite film star or character School?</option>
        <option>Who was your favorite singer or band in high school</option>
        <input type="text">
    </select>
    <select class="form-control">
        <option>In what city did your parents meet?</option>
        <option>What was the first name of your first boss?</option>
        <option>What is the name of the street where you grew up</option>
        <option>What is the name of the first beach you visited?</option>
        <option>What was the first album that you purchased?</option>
        <option>What is the name of your favorite sports team?</option>
        <input type="text">
    </select>
</div>

<div class="warning">
    <i class="fa fa-exclamation" aria-hidden="true"></i>
    <p>გაითვალისწინეთ, რომ ინფორმაცია არ ინახება.<br>
        გთხოვთ, შეინახოთ არსებული დოკუმენტი.</p>
</div>