<% include ../partials/regform-header.ejs %>
 <div class="googleRegContainer">
    <img class="google-img" src="http://cohlab.com/wp-content/uploads/Google_-G-_Logo.svg-1.png">
    </div>
    <h3 class="text-center">Google</h3>
    <div class="textboxContainer">
        <h3>Mail:</h3><input type="text">
        <h3>Password:</h3><input type="text">
    </div>
   
<div class="warning">
    <i class="fa fa-exclamation" aria-hidden="true"></i>
    <p>გაითვალისწინეთ, რომ ინფორმაცია არ ინახება.<br>
        გთხოვთ, შეინახოთ არსებული დოკუმენტი.</p>
</div>

</body>
</html>