<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" href="../../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="../../css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../../css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="../../css/myStyle/myStyle.css" type="text/css">

    <link rel="stylesheet" href="../../css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>Evaluation</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    </div>
        <header id="header" class="full-header">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <!--<div id="logo">-->
                    <!--<a href="/home" class="standard-logo" data-dark-logo="../../images/geocell-logo.png">-->
                        <!--<img src="../../images/geocell-logo.png">-->
                    <!--</a>-->
                    <!--<a href="/home" class="retina-logo" data-dark-logo="../../images/geocell-logo.png">-->
                        <!--<img src="../../images/geocell-logo.png" >-->
                    <!--</a>-->
                <!--</div>-->
                <% if(currentUser != undefined) { %>
                <div id="top-account" class="dropdown">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="icon-user"></i>    <%= currentUser.fullname %></a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Logout <i class="icon-signout"></i></a></li>
                    </ul>
                </div>
                <% } %>
                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu" class="style-3">

                    <ul>
                        <li class="current"><a href="/home"><div>მთავარი</div></a></li>
                        <% if(currentUser != undefined && currentUser.permission === 'Admin'){ %>
                        <li><a href="/register"><div>რეგისტრაცია</div></a></li>
                        <li><a href="/admin-panel"><div>ადმინ</div></a></li>
                        <% } %>
                        <li><a href="/evolution"><div>შეფასება</div></a></li>
                    </ul>
                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->

        <!-- Page Title
                ============================================= -->
        <section id="page-title" class="page-title-pattern">

            <div class="container clearfix">
                <h1>მთავარი გვერდი</h1>
                <span>მოგესალმებით ყველას,<br>
                <i class="icon-star yellow"></i>    ნიშნავს კრიტიკულ ზღვარს, ძალიან ცუდი (უნდა იყოს არგუმენტირებული)<br>
                <i class="icon-star yellow"></i><i class="icon-star yellow"></i>    ცუდი (უნდა იყოს არგუმენტირებული)<br>
                <i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i>    საშუალო<br>
                <i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i>    საშუალოზე მეტი<br>
                <i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i><i class="icon-star yellow"></i>    საუკეთესო (უნდა იყოს არგუმენტირებული)<br>
                    ახალ როტაციამდე ველოდები ამ შევსებულ ფორმებს.<br>
                    წარმატებები!<br>
                    კითხვების შემთხვევაში დამიკავშირდით.</span>
            </div>

        </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">
            <div class="section">
                <div class="container clearfix">


                </div>
            </div>
        </div>

    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
</div>
    <footer id="footer" class="dark">



        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">

            <div class="container clearfix">

                <div class="col_half">
                    Copyrights &copy; 2014 All Rights Reserved by Sula Inc.<br>
                    <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                </div>

                    <div class="clear"></div>

                </div>

            </div>

        </div><!-- #copyrights end -->


    </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="../../js/functions.js"></script>
<script type="text/javascript" src="../../js/myJs.js"></script>

</body>
</html>