<% include ../partials/header.ejs %>
<!-- Content
    ============================================= -->
<section id="content">
    <div class="content-wrap">
            <div class="container clearfix">
                <div class="content-wrap">
                    <form action="/home/new-content" method="POST">
                        <div class="col-md-6" id="margin-bot">
                            <label for="new-post-text">სათაური:</label>
                            <input type="text" name="nPost[title]" id="new-post-text" aria-required="true" class="required sm-form-control">
                        </div>
                        <% if(currentUser.permission === 'Admin'){ %>
                        <div class="col-md-3" id="margin-bot">
                            <label for="new-post-text">სტატუსი:</label>
                            <select class="selectpicker" name="status">
                                <option>Unsolved</option>
                                <option>Solved</option>
                                <option>Instruction</option>
                            </select>
                        </div>
                        <% } %>
                            <div class="col-md-3" id="margin-bot">
                                <label for="new-post">Tag:</label>
                                <select class="selectpicker" id="new-post" name="nPost[tag]">
                                    <option>Android</option>
                                    <option>Apple</option>
                                    <option>Windows</option>
                                    <option>Geocell Products</option>
                                    <option>Must know!</option>
                                    <option>FAQ</option>
                                    <option>Other</option>
                                </select>
                            </div>

                             <div class="clear"></div>
                        <textarea name="nPost[content]" id="editor1">
                        </textarea>
                        <script>
                           CKEDITOR.replace('editor1');
                        </script>
                            <button class="button button-3d button-rounded button-purple">
                                <i class="icon-ok"></i>
                                Submit
                            </button>
                    </form>
                </div>
            </div>
    </div>
</section><!-- #content end -->




<% include ../partials/footer.ejs %>