<% include ../partials/header.ejs %>
<!-- Content
    ============================================= -->
<section id="content">
    <div class="content-wrap">
            <div class="container clearfix">
                <div class="content-wrap">
                <button id="show-upload-div">ატვირთე</button>
                    <div id="collapsable">
                        <!-- Photos upload Form -->
                        <form id="upload-photos" method="post" action="/upload_photos" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="photos-input">File input</label>
                                <input id="photos-input" type="file" name="photos[]" multiple="multiple" >
                            </div>
                            <input type="hidden" name="csrf_token" value="just_a_text_field" />
                            <input class="btn btn-warning" type="submit" name="Photo Uploads" value="Upload Photos" />
                        </form>
                        <!-- Progress Bar -->
                        <div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active"
                                     role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Photos Album Container -->
                        <div id="album"></div>
                    </div>
                    <form action="/home/new-content" method="POST">
                        <div class="col-md-9" id="margin-bot">
                            <label for="new-post-text">სათაური:</label>
                            <input type="text" name="nPost[title]" id="new-post-text" aria-required="true" class="required sm-form-control">
                        </div>
                            <div class="col-md-3" id="margin-bot">
                                <label for="new-post">Tag:</label>
                                <select class="selectpicker" id="new-post" name="nPost[tag]">
                                    <option>Android</option>
                                    <option>Apple</option>
                                    <option>Windows</option>
                                    <option>Geocell Stock</option>
                                    <option>Navision</option>
                                    <option>Must know!</option>
                                    <option>FAQ</option>
                                    <option>Billing</option>
                                    <option>Other</option>
                                </select>
                            </div>
                             <div class="clear"></div>
                        <textarea name="nPost[content]"></textarea>
                        <script>
                           CKEDITOR.replace('nPost[content]');
                        </script>
                            <button class="button button-3d button-rounded button-purple">
                                <i class="icon-ok"></i>
                                Submit
                            </button>
                    </form>
                </div>
            </div>
    </div>
</section><!-- #content end -->


<% include ../partials/footer.ejs %>