
.white-section {
    background-color: #FFF;
    padding: 25px 20px;
    -webkit-box-shadow: 0px 1px 1px 0px #dfdfdf;
    box-shadow: 0px 1px 1px 0px #dfdfdf;
    border-radius: 3px;
}

.white-section h4 {
    display: inline-block;
    padding-right: 0px;
}

.top-white-section {
    background-color: #FFF;
    padding: 15px 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 1px 1px 0px #dfdfdf;
    box-shadow: 0px 1px 1px 0px #dfdfdf;
    border-radius: 3px;
}

.top-white-section h4 {
    display: inline-block;
    padding-right: 10px;
    margin: 0;

}

.selectpicker {
    margin-right: 10px;
}

textarea {
    width: 100%;
}

.yellow {
    color: #000;
}

.criterium-box {
    float: left;
}

.comment-box {
    float: left;
}

.text-bold {
    font-weight: 800;
}